
<%= link_to "Pagina UNO", root_path %>

<%= link_to "Pagina DOS", pages_two_path %>


<h2>Lorem Ipsum</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis, purus tincidunt placerat ullamcorper, diam est molestie nunc, ut vulputate nulla purus a tortor. Ut luctus, est et placerat congue, nibh nulla blandit ligula, ac venenatis eros nulla sit amet diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus hendrerit libero vitae ornare. Suspendisse a augue turpis. Vestibulum fermentum tellus neque, fringilla vestibulum orci ornare id. Vestibulum vitae euismod turpis. Nunc vestibulum mauris neque, nec convallis est varius nec. Maecenas ut tincidunt mauris. Proin et turpis nec nunc mattis hendrerit.</p>
